<div class="dark-font">
    <ol class="breadcrumb secondary-color">
        <li class="breadcrumb-item"><a class="white-text" href="/"><i class="fa fa-fa-dashboard"></i>Trang chủ</a></li>
        <li class="breadcrumb-item "><a class="white-text" ui-sref="product_categories">Danh mục sản phẩm</a></li>
        <li class="breadcrumb-item active">Thêm mới danh mục</li>

    </ol>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="height:400px">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">
                            Thêm mới
                        </h4>
                        <p class="card-category">
                            Thêm mới danh mục
                        </p>
                    </div>
                    <div class="card-body">
                        <form class="form-horizontal" novalidate name="frmProductCategory" role="form" ng-submit="AddProductCategory()">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="message-text" class="bmd-label-floating">Tên danh mục</label>
                                    <input type="text" class="form-control" ng-model="productCategory.Name" name="name" required>
                                    <span ng-show="frmProductCategory.name.$invalid" class="text-danger">Phải nhập tên danh mục</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="message-text" class="bmd-label-floating">Tiêu đề SEO</label>
                                    <input type="text" class="form-control" ng-model="productCategory.Alias" name="alias" required>
                                    <span ng-show="frmProductCategory.alias.$invalid" class="text-danger">Phải nhập tiêu đề Seo</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="message-text" class="bmd-label-floating">Mô tả ngắn</label>
                                    <input type="text" class="form-control" ng-model="productCategory.Description" name="description" >
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="message-text" class="bmd-label-floating">Danh mục cha</label>
                                    <select class="form-control" name="parenID" ng-model="productCategory.ParentID" ng-options="option.ID as option.Name for option in parentCategories">
                                        <option value="">--Danh mục gốc--</option>
                                    </select>
                                    <input type="hidden" name="parenID" ng-model="productCategory.ParentID" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="message-text" class="bmd-label-floating">Thứ tự</label>
                                    <input type="number" class="form-control" ng-model="productCategory.DisplayOrder" required name="displayOrder">
                                    <span ng-show="frmProductCategory.displayOrder.$invalid" class="text-danger">Phải nhập thứ tự</span>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="message-text" class="bmd-label-floating">Hình ảnh</label>
                                    <input type="text" class="form-control" ng-model="productCategory.Image" name="image">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="message-text" class="bmd-label-floating">Meta keyword</label>
                                    <input type="text" class="form-control" ng-model="productCategory.MetaKeyword" name="metaKeyword">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="message-text" class="bmd-label-floating">Meta description</label>
                                    <textarea type="text" class="form-control" ng-model="productCategory.MetaDescription" name="metaDescription">

                                    </textarea>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="status" ng-model="productCategory.Status" ng-checked="productCategory.Status"> Kích hoạt
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" name="homeFlag" ng-model="productCategory.HomeFlag" ng-checked="productCategory.HomeFlag"> Hiển thị trang chủ
                                    </label>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-12">
                                    <a ui-sref="product_categories" class="btn btn-outline-primary pull-left">
                                        Quay về danh sách
                                    </a>
                                    <button type="submit" ng-disabled="frmProductCategory.$invalid" value="Lưu lại" class="btn btn-outline-success pull-right">
                                        Lưu lại
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>