<div class="dark-font">
    <ol class="breadcrumb secondary-color">
        <li class="breadcrumb-item"><a class="white-text" href="#">Trang chủ</a></li>
        <li class="breadcrumb-item active">Danh mục sản phẩm</li>
    </ol>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header card-header-primary">
                <h4 class="card-title ">Danh mục sản phẩm</h4>
                <p class="card-category">Quản lý các danh mục sản phẩm trên website</p>
            </div>
            <div class="card-body">
                <div class="col-md-4">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Nhập từ khóa" aria-label="Recipient's username" aria-describedby="basic-addon2" ng-model="keyword">
                        <div class="input-group-append">
                            <button class="btn btn-sm" type="button" ng-click="search()">Tìm kiếm</button>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <a ui-sref="add_product_categories" class="btn btn-outline-success pull-left">Thêm mới</a>

                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th style="width:5%">
                                    ID
                                </th>
                                <th style="width:30%">
                                    Tên danh mục
                                </th>
                                <th style="width:20%">
                                    Ngày tạo
                                <th style="width:15%">
                                    Trạng thái
                                </th>
                                <th style="width:20%">
                                    Chức năng
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in productCategories">
                                <td>{{item.ID}}</td>
                                <td>{{item.Name}}</td>
                                <td>{{item.CreatedDate | date:'dd/mm/yyyy hh:mm:ss'}}</td>
                                <td align="center"><span ng-class="{'btn btn-warning btn-sm':item.Status==false,'btn btn-success btn-sm':item.Status==true}">{{item.Status | statusFilter}}</span></td>
                                <td>
                                    <button class="btn btn-sm btn-primary" ui-sref="edit_product_categories({id:item.ID})"><i class="fa fa-pencil"></i></button>
                                    <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5">
                                    Tổng số bản ghi: {{totalCount}}
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <pager-directive page="{{page}}" custom-path="{{customPath}}" pages-count="{{pagesCount}}" total-count="{{totalCount}}" search-func="getProductCategories(page)"></pager-directive>
            </div>
        </div>
    </div>
</div>